body {
    font-family: sans-serif;
    direction: rtl;
    padding: 20px;
    background: #f1f1f1;
}

.box {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 17px;
    border-radius: 8px;
    border: none;
    background: #0099ff;
    color: white;
}

button:hover {
    background: #007acc;
}
